doctype html
include utility
html
  head
    block head
      block meta
        meta(charset="utf-8")
        +viewport
        +ua-compatible
      block favicon
      block style
        +stylesheet('bootstrap/css/bootstrap.min.css')
        +stylesheet('bootstrap/css/bootstrap-theme.min.css')
  body
    block content
    block script
      +javascript('jquery/jquery.min.js')
      +javascript('lodash/lodash.min.js')
      +javascript('bootstrap/js/bootstrap.min.js')
