extends framework
append head
append favicon
append style
append script
  +javascript('common.js')
  +javascript('mvvm.js')
  +javascript('main.js')
append content
  .container
    h1 MVVM Demonstration
    h4
    .row
      .col-xs-12
        form
          .form-group
            input.form-control(type='text', name='title', placeholder='Enter page title')
          .form-group
            input.form-control(type='text', name='mirror', placeholder='Mirror display')

